
<!doctype html>
<html lang="en">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='signin.css') }}">
    <title>Robot Framework Workshop</title>
    <script>
      $(document).ready(function() {
           $('form').on('submit', function(event) {
             $.ajax({
                data : {
                   firstName : $('#firstName').val(),
                   lastName: $('#lastName').val(),
                       },
                   type : 'POST',
                   url : '/robotframework'
                  })
              .done(function(data) {
                $('#output').text(data.output).show();
            });
            event.preventDefault();
            });
      });
      </script>
  </head>
  <body class="text-center">
    <div class="github">
        <script src="https://gist.github.com/tlolkema/b84558278e789adeae2ac6f6e4c1605f.js"></script>    
    </div>
    <form class="form-signin">
      <h1 class="h3 mb-3 font-weight-normal">Robot Framework Workshop</h1>
      <p class="lead" id="output"></p> 
        <div class="form-group">
            <label class="sr-only" for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" placeholder="First Name">
        </div>
        <div class="form-group">
            <label class="sr-only" for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" placeholder="Last Name">
        </div>
        <button id="submitButton" class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>   
    </form>
  </body>
</html>